<div class="row">

       <div class="col-md-3">

                  <%= image_tag avatar_url(@user), class: "avatar-full" %>

                  <div class="card card-default">

                        <div class="card-header">Vérification</div>

                                <div class="card-body">

                                       Email: <%= @user.email %><br>

                                       Tél: <%= @user.phone_number %>

                                </div>

                         </div>

                   </div>

          <div class="col-md-9">

                <h2 class="subline"><strong><%= @user.fullname.titleize %></strong></h2>

                <div class="description row-space-3">

                      <%= @user.description %>

                </div>


                
                <h4>Evaluations</h4><br>

        <% @rooms.each do |room| %>

           <% if !room.reviews.blank? %>

           <% room.reviews.each do |review| %>

           <div class="row">

             <div class="col-md-2 text-center">

               <%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %><br>

               <%= review.user.fullname %>

             </div>

             <div class="col-md-10">

               <%= link_to room.listing_name, room %><br>

               <%= review.comment %><br>

               <%= review.created_at.strftime("(%d/%m/%y)") %>

            </div>

          </div>

          <% end %>

       <% end %>

       <% end %>
       </div>
 </div>
