<div class="row">
 
       <div class="col-md-3">
 
                  <%= image_tag avatar_url(@user), class: "avatar-full" %>
 
                  <div class="card card-default">
 
                        <div class="card-header">Vérification</div>        
 
                                <div class="card-body">
 
                                       Email: <%= @user.email %><br>
 
                                       Tél: <%= @user.phone_number %>
 
                                </div>
 
                         </div>
 
                   </div>
 
          <div class="col-md-9">
 
                <h2 class="subline"><strong><%= @user.fullname %></strong></h2>
 
                <div class="description row-space-3">
 
                      <%= @user.description %>
 
                </div>
 
           </div>
 
 </div>