<nav class="nav navbar navbar-light navbar-expand-md">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggler gauche" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/"> <%= image_tag("favicon.ico", width: '32', height: '32' ) %> R'n'Bnb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="form-inline navbar-left" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
            <div class="search">
              <span class="fa fa-search"></span>
              <input type="text" name="search" id="search" placeholder="Rechercher" class="form-control fin" />
            </div>
          </form>
          <ul class="nav navbar-nav ml-auto p-1 destra">

            <li class="nav-item">
               <a href="<%= new_room_path %>" class="nav-link">
                  <i class="fas fa-home"></i> Devenez hôte
              </a>
            </li>

             <li class="nav-item">
                <a href="<%=conversations_path%>" class="nav-link">
                  <i class="fas fa-envelope"></i>  Messages
                </a>
            </li>
            <% if user_signed_in? %>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.avatar %>
                  <img class="rounded-circle avatar-small" src="<%= avatar_url(current_user) %>"/>
                <% else %>
                  <img src="assets/images/default_image.png" class="rounded-circle avatar-small">
                <% end %>
                 <%= current_user.fullname.titleize %>  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= rooms_path %>" class="nav-link">Mes annonces</a></li>
                <li><a href="<%= your_reservations_path %>" class="nav-link">Mes réservations</a></li>
                <li><a href="<%= your_trips_path %>" class="nav-link">Mes voyages</a></li>
                <li><a href="<%= edit_user_registration_path %>" class="nav-link">Modifier mon profil</a></li>

                <li role="separator" class="divider"></li>
                <li><a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>" class="nav-link">Déconnexion</a></li>
                <% else %>
                <li>
                  <a href="<%= new_user_registration_path %>" class="nav-link rose">S'inscrire</a>
                </li>
                <li>
                  <a href="<%= new_user_session_path %>" class="nav-link rose">Se connecter</a>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
