<!DOCTYPE html>
<html>
  <head>
    <title>Rnbnb</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="<%= root_path %>">Petsy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="nav navbar-nav collapse navbar-collapse justify-content-center" id="navbar" >
            <li class="nav-item">
              <a href="#" class="nav-link navbar-text">Les articles</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link navbar-text">Les animaux</a>
            </li>
          </ul>
        <div class="nav navbar-expand container d-flex flex-row-reverse" id="navbar">
          <ul class="nav navbar-nav pr-5 mr-5 " id="navbar">

          <% if user_signed_in? %>
          <li class="nav-item dropdown dropdown-dark" id="navbar">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">  
                    <%= current_user.email %>
                    
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu bg bg-dark" role="menu" id="navbar">
                <li class="dropdown-item bg-dark">#</li>
                <li class="dropdown-item bg-dark">#</li>
              </ul>
          </li>
            
          <%else%>
            <li>
              <a href="<%= new_user_path %>" class="nav-link">S'inscrire</a>
            </li>
            <li>
              <a href="<%= new_session_path %>" class="nav-link mr-5">Se connecter</a>
            </li>
          <%end%>
          </ul>
        </div>
    </nav>


    


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
